<div class="well thumbnail">
  <div class="row">
    <div class="col-4">
      <img [routerLink]="['/recruiters', recruiter.id]" mat-card-md-image [src]="recruiter?.image?.uri ||
           '../../../assets/images/placeholder.jpg'"
           style="border-radius:50%" height="114" width="114">
    </div>
    <div class="col">
      <h4><a class="data-link" [routerLink]="['/recruiters', recruiter.id]">{{recruiter?.name}}</a></h4>
      <div>{{recruiter?.role}}</div>
      <div>{{recruiter?.email}}</div>
      <div>{{recruiter?.tel}}</div>
    </div>
  </div>
</div>
